[submodule "shells/zsh/zsh-syntax-highlighting"]
	path = shells/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shells/zsh/oh-my-zsh/plugins/zsh-autosuggestions"]
	path = shells/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shells/zsh/base16-shell"]
	path = shells/zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell/
[submodule "shells/zsh/plugins/zsh-auto-notify"]
	path = shells/zsh/plugins/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "shells/zsh/plugins/fzf-tab"]
	path = shells/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "bin/.bin/uberw3m"]
	path = bin/.bin/uberw3m
	url = https://github.com/sersorrel/uberw3m
[submodule "shells/zsh/plugins/git-fuzzy"]
	path = shells/zsh/plugins/git-fuzzy
	url = https://github.com/bigH/git-fuzzy
[submodule "nvim/.config/nvim/pack/opt/gruvbox"]
	path = nvim/.config/nvim/pack/bundle/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "nvim/.config/nvim/pack/bundle/opt/fzf.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-tridactyl"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-tridactyl
	url = https://github.com/tridactyl/vim-tridactyl
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-less"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-json"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-json
	url = https://github.com/elzr/vim-json
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-vinegar"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-surround"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-repeat"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/.config/nvim/pack/bundle/opt/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig/
[submodule "nvim/.config/nvim/pack/bundle/opt/deoplete.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/deoplete-abook"]
	path = nvim/.config/nvim/pack/bundle/opt/deoplete-abook
	url = https://github.com/michaeladler/deoplete-abook
[submodule "nvim/.config/nvim/pack/bundle/opt/deoplete-notmuch"]
	path = nvim/.config/nvim/pack/bundle/opt/deoplete-notmuch
	url = https://github.com/paretje/deoplete-notmuch
[submodule "nvim/.config/nvim/pack/bundle/opt/deoplete-lsp"]
	path = nvim/.config/nvim/pack/bundle/opt/deoplete-lsp
	url = https://github.com/Shougo/deoplete-lsp
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-fugitive"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/.config/nvim/pack/bundle/opt/AnsiEsc.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim
[submodule "nvim/.config/nvim/pack/bundle/opt/firenvim"]
	path = nvim/.config/nvim/pack/bundle/opt/firenvim
	url = https://github.com/glacambre/firenvim
