[submodule "shells/zsh/zsh-syntax-highlighting"]
	path = shells/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shells/zsh/oh-my-zsh/plugins/zsh-autosuggestions"]
	path = shells/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shells/zsh/base16-shell"]
	path = shells/zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell/
[submodule "shells/zsh/plugins/zsh-auto-notify"]
	path = shells/zsh/plugins/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "shells/zsh/plugins/fzf-tab"]
	path = shells/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "bin/.bin/uberw3m"]
	path = bin/.bin/uberw3m
	url = https://github.com/sersorrel/uberw3m
[submodule "shells/zsh/plugins/git-fuzzy"]
	path = shells/zsh/plugins/git-fuzzy
	url = https://github.com/bigH/git-fuzzy
[submodule "nvim/.config/nvim/pack/opt/gruvbox"]
	path = nvim/.config/nvim/pack/bundle/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "nvim/.config/nvim/pack/bundle/opt/fzf.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-tridactyl"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-tridactyl
	url = https://github.com/tridactyl/vim-tridactyl
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-less"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-json"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-json
	url = https://github.com/elzr/vim-json
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-vinegar"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
