*.private
qutebrowser/qsettings/
qutebrowser/bookmarks/
pandoc/.pandoc/templates/assets/fonts/
bin/aquarius-go
mutt/msmtprc
mutt/accounts/*
/qutebrowser/.config/qutebrowser/qsettings/
/bin/.bin/pappy
