*.private
qutebrowser/qsettings/
qutebrowser/bookmarks/
pandoc/.pandoc/templates/assets/fonts/
bin/aquarius-go
mutt/msmtprc
mutt/accounts/*
/qutebrowser/.config/qutebrowser/qsettings/
/qutebrowser/.config/qutebrowser/autoconfig.yml
/bin/.bin/pappy
/systemd/.config/systemd/user/timers.target.wants/
nvim/.config/nvim/.netrwhist
