@import "gruvbox-colours.less";

body{
	font-family: opendyslexic !important;
	background-color: @gb-dm-bg0 !important;
	color: @gb-dm-fg0 !important;
}

code, pre, tt, .blob-code-inner{
	font-family: Iosevka !important;
	color: @gb-dm-fg0 !important;
	background-color: @gb-dm-bg0 !important;
}

h1, h2, h3, h4, h5, h6 g{
	color: inherit !important;
}

#content{
	font-family: opendyslexic !important;
	background-color: @gb-dm-bg0 !important;
	color: @gb-dm-fg0 !important;
}
#content pre, #content code, #content tt{
	background: @gb-dm-bg0-hard !important;
	color: @gb-dm-fg0 !important;
	font-family: Iosevka !important;
}

div.archwiki-template-box.archwiki-template-box-tip{
	background-color: @gb-dm-light-green !important;
	border-color: @gb-dm-dark-green !important;
}
div.archwiki-template-box.archwiki-template-box-note{
	background-color: @gb-dm-light-blue !important;
	border-color: @gb-dm-dark-blue !important;
}
div.archwiki-template-message{
	background-color: @gb-dm-light-aqua !important;
	border-color: @gb-dm-dark-aqua !important;
}
div.archwiki-template-box.archwiki-template-box-warning{
	background-color: @gb-dm-light-red !important;
}
.catlinks{
	background-color: @gb-dm-light-green !important;
	border-color: @gb-dm-dark-green !important;
}
#toc, .toc, .mw-warning, .toccolours{
    background-color: @gb-dm-fg2 !important;
    border: 1px solid @gb-dm-fg4 !important;
}

